.char-fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  box-sizing: border-box;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  border-top: 1px solid #e5e5e5;
}

.char-fieldset__legend {
  @include idents-reset();
  width: 100%;
  margin-bottom: 22px;

  @include standart-header_typograph();
  text-align: center;
}

.char-fieldset__wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 100%;
}

.char-fieldset__wrapper-phone::after {
  position: absolute;
  right: 0;
  bottom: 0;

  display: block;
  content: "";
  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cpath fill='%23010101' d='M3.6 7.8c1.4 2.8 3.8 5.1 6.6 6.6l2.2-2.2c.3-.3.699-.4 1-.2 1.1.4 2.3.6 3.6.6.6 0 1 .4 1 1V17c0 .6-.4 1-1 1C7.6 18 0 10.4 0 1c0-.6.4-1 1-1h3.5c.6 0 1 .4 1 1 0 1.2.2 2.4.6 3.6.1.3 0 .7-.2 1L3.6 7.8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.char-fieldset__wrapper-email::after {
  position: absolute;
  right: 0;
  bottom: 0;

  display: block;
  content: "";
  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M8 10c-.266 0-.5-.094-1-.336L0 6v7c0 .55.45 1 1 1h14c.55 0 1-.45 1-1V6L9 9.664c-.5.242-.734.336-1 .336zm7-8H1c-.55 0-1 .45-1 1v.758l8 4.205 8-4.205V3c0-.55-.45-1-1-1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.char-fieldset__label {
  position: relative;

  box-sizing: border-box;
  padding-left: 23px;
  margin-bottom: 7px;
  width: 100%;

  @include paragraph-standart_typograph();
  line-height: $biggest_line-height;
}

.char-fieldset__input {
  box-sizing: border-box;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 22px;
  padding-bottom: 16px;
  width: 100%;

  @include standart-header_typograph();
  font-family: inherit;

  border: none;
  background-color: $form-field_bg-color;


  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    outline-color: #e5e5e5;
    padding-top: 12px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 12px;
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}

.char-fieldset__input::placeholder {
  @include standart-header_typograph();
}


@media (min-width: $tablet-up) {
  .char-fieldset {
    order: 3;
    width: 100%;
    padding-top: 70px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 28px;

    border: none;
  }

  .char-fieldset__legend {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include biggest-header_typograph();
  }

  .char-fieldset__legend::before {
    flex-grow: 1;
    display: block;
    content: " ";
    margin-right: 60px;
    min-width: 10px;
    height: 1px;

    border-bottom: 1px solid #dbdbdb;
  }

  .char-fieldset__legend::after {
    flex-grow: 1;
    display: block;
    content: " ";
    margin-left: 60px;
    min-width: 10px;
    height: 1px;

    border-bottom: 1px solid #dbdbdb;
  }

  .char-fieldset__wrapper {
    margin-bottom: 25px;
  }

  .char-fieldset__wrapper:last-child {
    margin-bottom: 0;
  }
}


@media (min-width: $desktop-up) {
  .char-fieldset {
    order: 3;
    width: 100%;
    padding-top: 70px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 28px;

    border: none;
  }

  .char-fieldset__legend {
    margin-bottom: 72px;
  }

  .char-fieldset__wrapper {
    align-items: baseline;
    width: 41.8%;
  }

  .char-fieldset__wrapper:nth-child(even) {
    margin-right: 80px;
  }

  .char-fieldset__wrapper:nth-child(odd) {
    flex: 1 1 auto;
  }

  .char-fieldset__label {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding-left: 0;
    margin-right: 15px;
    width: auto;
  }

  .char-fieldset__hidden-text {
    display: none;
  }

  .char-fieldset__input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 50%;
  }
}
