.char-fieldset {
  padding-top: 25px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 25px;
}

.char-fieldset__label {
  @include paragraph-standart_typograph();

  line-height: $biggest_line-height;
}

.char-fieldset__input {
  background-color: $form-field_bg-color;
}

.char-fieldset__input::placeholder {
  @include standart-header_typograph();
}


@media (min-width: $tablet-up) {
  .char-fieldset{
    order: 3;
    width: 100%;
  }
}


@media (min-width: $desktop-up) {

}
