.checkbox-fieldset {
  padding-top: 25px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 20px;
}

.checkbox-fieldset__label {
  @include standart-header_typograph();
}

.checkbox-fieldset__input {
  background-color: $form-field_bg-color;
}


@media (min-width: $tablet-up) {
  .checkbox-fieldset {
    flex-direction: row;
    flex-wrap: wrap;
    order: 4;
    width: 100%;
  }
}
