.radiobutton-fieldset {
  padding-top: 25px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 25px;
}

.radiobutton-fieldset__label {
  @include standart-header_typograph();
}

.radiobutton-fieldset__input {
  background-color: $form-field_bg-color;
}


@media (min-width: $tablet-up) {
  .radiobutton-fieldset {
    order: 1;
    width: 50%;
  }
}


@media (min-width: $desktop-up) {

}
