.review-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 40px;

  background-color: $section-v1_bg-color;
}

.review-form__button {
  margin-right: auto;
  margin-left: auto;
  width: 87.2%;
  border: none;

  text-transform: uppercase;
}

.footnote {
  display: none;
}

@media (min-width: $tablet-up) {
  .review-form {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 18px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .review-form__button {
    order: 6;
    margin-left: 0;
    margin-bottom: 22px;
    width: 50%;
  }

  .footnote {
    order: 7;
    display: block;

    @include paragraph-standart_typograph();
    Line-height: $biggest_line-height;
  }
}

@media (min-width: $desktop-up) {
  .review-form {
    padding-top: 0;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 46px;
  }
}
