.text-area-fieldset {
  padding-top: 25px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 50px;
}

.text-area-fieldset__field {
  background-color: $form-field_bg-color;
}

.text-area-fieldset__field::placeholder {
  @include standart-header_typograph();
}


@media (min-width: $tablet-up) {
  .text-area-fieldset {
    order: 5;
    width: 100%;
  }
}
