.text-area-fieldset {
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.text-area-fieldset__field {
  background-color: $form-field_bg-color;
}

.text-area-fieldset__field::placeholder {
  @include standart-header_typograph();
}
