.intro-description {
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 35px;

  background-color: $section-v1_bg-color;
}

.intro__logo {
  background-color: $menu-link_bg-color;
}

.intro-description__header {
  @include standart-header_typograph();
}

.intro-description__paragraph {
  @include paragraph-standart_typograph();

  line-height: $biggest_line-height;
}

.intro-description__paragraph--v2 {
  @include paragraph-standart_typograph();

  line-height: $big_line-height;
}
