// typograph mixins

//text size
//$standart_txt-size: 14px;
//$big_txt-size: 18px;
//$biggest_txt-size: 21px;


//line height size
//$standart_line-height: 21px;
//$big_line-height: 24px;
//$biggest_line-height: 26px;


//text colors
//$standart_txt-color: black;
//$lighter_txt-color: #333333;
//$light_txt-color: white;


//form text colors
//$label_txt-color: black;
//$legend_txt-color: black;
//$placeholder_txt-color: black;


//elements text colors
//$menu-link_txt-color: white;
//$button_txt-color: white;


@mixin standart-header_typograph() {
  font-size: $big_txt-size;
  font-weight: bold;
  line-height: $biggest_line-height;
  color: $standart_txt-color;
}

@mixin small-header_typograph() {
  font-size: $standart_txt-size;
  font-weight: bold;
  line-height: $big_line-height;
  color: $standart_txt-color;
}

@mixin paragraph-standart_typograph() {
  font-size: $standart_txt-size;
  font-weight: normal;
  line-height: $standart_line-height;
  color: $lighter_txt-color;
}
