.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  background-color: $section-v1_bg-color;
}


.page-footer__hashtag {
  @include idents_reset;
  margin-bottom: 35px;

  @include standart-header_typograph();

  font-size: $biggest_txt-size;
}


@media (min-width: $tablet-up) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (min-width: $desktop-up) {
  .page-footer {
    padding-right: 120px;
    padding-left: 120px;
  }
}
