.wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

@media (min-width: $tablet-up) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-up) {
  .wrapper {
    width: 1200px;
  }
}
