.gallery-list {
  @include idents-reset();
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 100%;

  background-color: $section-v1_bg-color;
  list-style: none;
}

.gallery-list__item {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 21px;
  width: 100%;

  border-top: 1px solid #f2f2f2;
}

.gallery-list__item-picture {
  display: block;
  margin-bottom: 15px;
  width: 280px;
  height: 280px;

  background-color: $pre-load_bg-color;
}

.gallery-list__item-image {
  display: block;
}

.gallery-list__item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery-list__item-header {
  @include idents-reset();
  @include small-header_typograph();
}

.gallery-list__item-paragraph {
  @include idents-reset();
  margin-bottom: 6px;

  @include paragraph-standart_typograph();
  line-height: $big_line-height;
  text-transform: initial;
}

.gallery-list__item-rating {
  position: relative;
  padding-left: 36px;

  @include paragraph-standart_typograph();
  line-height: $big_line-height;
  font-weight: bold;
}

.gallery-list__item-rating::before {
  position: absolute;
  left: 0;
  bottom: 4px;

  display: block;
  content: " ";
  width: 22px;
  height: 22px;

  background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='22' height='20'%3E%3Cpath fill='%23a9a9a9' d='M12.383 3.646l-.637 2.929L11.219 9H19.9v2l.001.058L17 18H8V8.029l.014-.015 4.369-4.368M2 10v8-8M13.2 0L6.6 6.6c-.4.3-.6.8-.6 1.4v10c0 1.1.9 2 2 2h9c.8 0 1.5-.5 1.8-1.2l3-7.1c.1-.2.1-.5.1-.7V9h.1c0-1.1-.9-2-2-2h-6.3l1-4.6v-.3c0-.4-.2-.8-.4-1.1l-1.1-1zM4 8H0v12h4V8zm18 1v.044V9z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}


@media (min-width: $tablet-up) {
  .gallery-list {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 38px;
    min-width: 100%;
  }

  .gallery-list__item {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 17px;

    width: 50%;

    border-top: none;
    background-color: $section-v4_bg-color;
  }

  .gallery-list__item-description {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 36px;
    padding-left: 20px;
  }

  .gallery-list__item-1 .gallery-list__item-description {
    padding-right: 20px;
  }

  .gallery-list__item-header {
    order: 1;
    flex: 1 0 auto;
    margin-right: auto;
    width: 75%;
  }

  .gallery-list__item-paragraph {
    order: 3;
    flex: 0 0 auto;
    margin-bottom: 0;
    width: 50%;
  }

  .gallery-list__item-rating {
    position: relative;
    top: 14px;

    order: 2;
    flex: 0 0 auto;
    width: 5%;
  }

  .gallery-list__item-1 {
    width: 100%;
  }

  .gallery-list__item-picture {
    width: 324px;
    height: 267px;
  }

  .gallery-list__item-picture-1 {
    width: 648px;
    height: 400px;
  }
}


@media (min-width: $desktop-up) {
  .gallery-list {
    padding-right: 0;
    padding-left: 0;
  }

  .gallery-list__item {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
    width: 33.3%;

    border-top: none;
    background-color: $section-v1_bg-color;
  }

  .gallery-list__item-1 {
    width: 100%;
  }

  .gallery-list__item-1 .gallery-list__item-description {
    padding-right: 0;
  }

  .gallery-list__item-description {
    margin-top: -78px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .gallery-list__item-header {
    color: #ffffff;
  }

  .gallery-list__item-paragraph {
    color: #ffffff;
  }

  .gallery-list__item-rating {
    width: 4.2%;

    color: #ffffff;
  }

  .gallery-list__item-rating::before {
    background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='22' height='20' fill='%23fff'%3E%3Cpath d='M12.383 3.646l-.637 2.929L11.219 9H19.9v2l.001.058L17 18H8V8.029l.014-.015 4.369-4.368M2 10v8-8M13.2 0L6.6 6.6c-.4.3-.6.8-.6 1.4v10c0 1.1.9 2 2 2h9c.8 0 1.5-.5 1.8-1.2l3-7.1c.1-.2.1-.5.1-.7V9h.1c0-1.1-.9-2-2-2h-6.3l1-4.6v-.3c0-.4-.2-.8-.4-1.1l-1.1-1zM4 8H0v12h4V8zm18 1v.044V9z'/%3E%3C/svg%3E");
  }

  .gallery-list__item-picture {
    width: 400px;
    margin-bottom: 0;
  }

  .gallery-list__item-picture-1 {
    width: 1200px;
  }
}
