.gallery-list {
  @include idents-reset();
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 100%;

  background-color: $section-v1_bg-color;
  list-style: none;
}

.gallery-list__item {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 100%;

  border-top: 1px solid #f2f2f2;
}

.gallery-list__item-picture {
  display: block;
  margin-bottom: 15px;
  width: 280px;
  height: 280px;

  background-color: $pre-load_bg-color;
}

.gallery-list__item-image {
  display: block;
}

.gallery-list__item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery-list__item-header {
  @include idents-reset();

  @include small-header_typograph();
}

.gallery-list__item-paragraph {
  @include idents-reset();
  margin-bottom: 6px;

  @include paragraph-standart_typograph();
  line-height: $big_line-height;
  text-transform: initial;
}

.gallery-list__item-rating {
  position: relative;
  padding-left: 36px;

  @include paragraph-standart_typograph();
  line-height: $big_line-height;
  font-weight: bold;
}

.gallery-list__item-rating::before {
  position: absolute;
  left: 0;
  bottom: 4px;

  display: block;
  content: " ";
  width: 22px;
  height: 22px;

  background-image: url(../img/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center;
}


@media (min-width: $tablet-up) {
  .gallery-list {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 38px;
    min-width: 100%;
  }

  .gallery-list__item {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 17px;

    width: 50%;

    border-top: none;
    background-color: $section-v4_bg-color;
  }

  .gallery-list__item-description {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 36px;
    padding-left: 20px;
  }

  .gallery-list__item-1 .gallery-list__item-description {
    padding-right: 20px;
  }

  .gallery-list__item-header {
    order: 1;
    flex: 1 0 auto;
    margin-right: auto;
    width: 75%;
  }

  .gallery-list__item-paragraph {
    order: 3;
    flex: 0 0 auto;
    margin-bottom: 0;
    width: 50%;
  }

  .gallery-list__item-rating {
    position: relative;
    top: 14px;

    order: 2;
    flex: 0 0 auto;
    width: 5%;
  }

  .gallery-list__item-1 {
    width: 100%;
  }

  .gallery-list__item-picture {
    width: 324px;
    height: 267px;
  }

  .gallery-list__item-picture-1 {
    width: 648px;
    height: 400px;
  }
}


@media (min-width: $desktop-up) {
  .gallery-list {
    padding-right: 0;
    padding-left: 0;
  }

  .gallery-list__item {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
    width: 33.3%;

    border-top: none;
    background-color: $section-v1_bg-color;
  }

  .gallery-list__item-1 {
    width: 100%;
  }

  .gallery-list__item-description {
    margin-top: -73px;
  }

  .gallery-list__item-picture {
    width: 400px;
  }

  .gallery-list__item-picture-1 {
    width: 1200px;
  }
}
