.section-list__item {
  background-color: #ffffff;
}

.section-list__item--smoke-white {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;

  background-color: $section-v3_bg-color;
}

.section-list__item-description {
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 35px;

  background-color: $section-v1_bg-color;
}

.section-list__item-description--blue {
  background-color: $section-v2_bg-color;
}

.section-list__item {
  &-header {
    @include standart-header_typograph();
  }

  &-bold {
    @include standart-header_typograph();
  }
}

.section-list__item-header--white {
  color: #ffffff;
}

.section-list__item-paragraph {
  @include paragraph-standart_typograph();
}

.section-list__item-paragraph--white {
  color: #ffffff;
}

.section-list__item-image {
  background-color: $pre-load_bg-color;
}

.section-list__sub-list-item {
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 35px;
}
